<section class="depot_form">
  <h1>Please Enter Your Details</h1>
  <%= render 'form', order: @order%>
</section>

<%# Including specific javascript using webpack in packs folder %>
<%= javascript_pack_tag "pay_type" %>
